* {
    box-sizing: border-box;
    margin: 0;
}

.body {
    position: relative;
}

.page {
    width: 100vw;
    height: 100vh;
    display: block;
}

.first.page {
    position: relative;
    text-align: center;
    background-image: url("tesla_homepage_desktop.jpg");
    background-size: cover;
    background-position: center;
}

.hamburger-icon {
    position: absolute;
    top: 20px;
    right: 40px;
}

.hamburger-slice {
    width: 18px;
    height: 2px;
    background-color: white;
    margin: 0px;
    list-style: none;
    margin-left: 0;
}

.hamburger-slice.meat {
    margin: 3px 0;
}

.first-page.left {
    display: none;
}

.first-page.middle {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

.first-page.right {
    display: none;
}

.sales {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    margin: 0;
}

.upper {
    position: absolute;
    display: block;
    width: 100vw;
    margin: 0px;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
}

.custom-order {
    position: absolute;
    width: 400px;
    left: 50%;
    transform: translateX(-50%);
    border: beige 3px solid;
    border-radius: 20px;
    background-color: beige;
    text-decoration: none;
    font-family: monospace;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
    padding: 8px;
}

.inventory {
    position: absolute;
    width: 400px;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    border: beige 3px solid;
    border-radius: 20px;
    text-decoration: none;
    font-family: monospace;
    font-size: 14px;
    color: beige;
    padding: 8px;
}

.store {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

.bar.main {
    display: none;
}

.bar.side {
    display: none;
}

.adds.head {
    display: none;
}

.adds.foot {
    position: absolute;
    color: white;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    width: 100vw;
    padding: 0 50px;
}

.second.page {
    position: relative;
    text-align: center;
    background-image: url("homepage_energy_hero_mobile.jpg");
    background-size: cover;
    background-position: center;
}

h1.second-page {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

h3.second-page {
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

.order-now {
    position: absolute;
    width: 400px;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    border: beige 3px solid;
    border-radius: 20px;
    background-color: beige;
    text-decoration: none;
    font-family: monospace;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
}

.third.page {
    position: relative;
    text-align: center;
    background-image: url("accessories-hero-mobile-poster.png");
    background-size: cover;
    background-position: center;
}

h1.third-page {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

.shop-now {
    position: absolute;
    width: 400px;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    border: beige 3px solid;
    border-radius: 20px;
    background-color: beige;
    text-decoration: none;
    font-family: monospace;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
}

.fourth.page {
    position: relative;
    text-align: center;
    background-image: url("blue-hero-mobile.jpg");
    background-size: cover;
    background-position: center;
    height: 80vh;
}

h2.fourth-page {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

h1.fourth-page {
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

.footer {
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0;
    background-color: white;
    display: block;
}

.foot-link {
    display: list-item;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}

.not-mobile {
    display: none;
}

.homepage-button {
    position: absolute;
    top: 15px;
    left: 18px;
    text-decoration: none;
    font-family: "HeiT ASC Traditional Chinese", "M Hei PRC W45", "AXIS Font Japanese W55", "FB New Gothic", Swissra, "Gotham Medium", system, sans-serif;
    font-size: x-large;
    color: white;
    Style normal Weight 500 Size 40px Line Height 48px Color #171a20
}

@media (min-width: 640px) {
    .bar.main {
        display: inline-block;
        position: relative;
        top: 20px;
    }
    .bar.main a {
        text-decoration: none;
        color: beige;
        margin: 0 10px;
    }
    .second.page {
        background-image: url("homepage_energy_hero_desktop.jpg");
    }
    .order-now {
        bottom: 280px;
    }
    .third.page {
        background-image: url("accessories-hero-desktop-poster.png");
    }
    .shop-now {
        bottom: 400px;
    }
    .fourth.page {
        background-image: url("blue-hero-desktop.jpg");
    }
    .foot-link {
        display: inline-block;
    }
}

@media (min-width: 840px) {
    .sales {
        bottom: 320px;
    }
}

@media (min-width: 1080px) {
    .bar.side {
        display: inline-block;
        position: relative;
        top: 20px;
        right: -7vw;
        text-align: right;
    }
    .bar.side a {
        text-decoration: none;
        color: beige;
        margin: 0 10px;
    }
}